<center><img SRC="img1.jpg" aling="center"/></center>

<center><h1 style="color:#00008B">Analisis Estadistico Descriptivo</h1></center>
<center><h2 style="color:#228B22">Curso Visualizacion de Datos</h2></center>
<center><h3 style="color:##696969">Periodo: 2022-IC </h3></center>
</br>
</br>
<p style="text-aling:justify" >La Universidad Castro Carazo dispone de un curso orientado al analisis de datos, para lo cual se pretende que los estudiantes identifiquen las caracteristicas de los datos y su estructura.Este es un analisis para identificar las caracteristicas de los autos que se venden y sus respectivos precios.</p>

<imagenes SRC="imagenes.png" aling="center"/>

<h2 style= "color:#00FFFF">1.Carga y Estandarizacion de los archivos de datos </h2>
<p>Que se hace en este apartado </p>

<ol>
    <li>Importar las librerias que se necesitan para el proyecto</li>
    <li>Importar los set de datos desde sus fuentes (CSV/TXT/EXCEL/BD)</li>
    <li>Revisar los encabezados de los DataFrame </li>
    <li>Solo si son varios archivos unirlos en un solo data frame</li>
</ol>

In [1]:
#Se realiza la importacion de las librerias necesarias para el EDA
import pandas as pd              #para el manejo de Data Frame
import numpy as np               #para estructuras de datos como las listas
import matplotlib.pyplot as plt  #para el manejo de los graficos

<h3 style = "color:#00FFFF">1.2 Carga de Archivos de Datos </h3>

In [9]:
#se crea un array unidimencional con los nombres de las columnas
cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors",
         "style", "wheels", "engine", "base", "length", "width", "heingt",
         "curb", "engineType", "Cylinders", "engine-size", "system", "bore", "stroke",
         "compression", "horsepower", "peak", "City", "Higway", "price"]

#se carga el archivo data frame y se le asigna el nombre de las columnas
dfSetAutos1 = pd.read_csv("autos1.csv" , names = cols )
dfSetAutos2 = pd.read_csv("autos2.csv" , names = cols )

In [11]:
dfSetAutos1.shape

(100, 26)

In [12]:
dfSetAutos2.shape

(97, 26)

In [14]:
dfSetAutos1.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [15]:
dfSetAutos2.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,0,106,nissan,gas,std,four,sedan,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,9549
1,0,128,nissan,gas,std,four,sedan,fwd,front,100.4,...,181,mpfi,3.43,3.27,9.0,152,5200,17,22,13499
2,0,108,nissan,gas,std,four,wagon,fwd,front,100.4,...,181,mpfi,3.43,3.27,9.0,152,5200,17,22,14399
3,0,108,nissan,gas,std,four,sedan,fwd,front,100.4,...,181,mpfi,3.43,3.27,9.0,152,5200,19,25,13499
4,3,194,nissan,gas,std,two,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,9.0,160,5200,19,25,17199

In [20]:
dfSetAutos1.tail(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
90,1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,...,103,idi,2.99,3.47,21.9,55,4800,45,50,7099
91,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
92,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
93,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349
94,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299
95,1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
96,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7499
97,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7999
98,2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
99,0,106,nissan,gas,std,four,hatchback,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949

In [21]:
dfSetAutos2.tail(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
87,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
88,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
89,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
90,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
91,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
92,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
93,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
94,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
95,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
96,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

<h3 style = "color:#00CED1"> 1.3 Revision de Encabezados </h3>

In [23]:
dfSetAutos1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    100 non-null    int64
 1   normalized   100 non-null    object
 2   make         100 non-null    object
 3   fuel         100 non-null    object
 4   aspiration   100 non-null    object
 5   doors        100 non-null    object
 6   style        100 non-null    object
 7   wheels       100 non-null    object
 8   engine       100 non-null    object
 9   base         100 non-null    float64
 10  length       100 non-null    float64
 11  width        100 non-null    float64
 12  heingt       100 non-null    float64
 13  curb         100 non-null    int64
 14  engineType   100 non-null    object
 15  Cylinders    100 non-null    object
 16  engine-size  100 non-null    int64
 17  system       100 non-null    object
 18  bore         100 non-null    object
 19  stroke       100 non-null    object
 20  compression  100 non-null    float64
 21  horsepower   100 non-null    int64
 22  peak         100 non-null    int64
 23  City         100 non-null    int64
 24  Higway       100 non-null    int64
 25  price        100 non-null    object
dtypes: float64(5), int64(7), object(14)
memory usage: 20.4+ KB

In [24]:
dfSetAutos1.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [25]:
dfSetAutos2.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [26]:
dfSetAutos1.describe()

,symboling,base,length,width,heingt,curb,engine-size,compression,horsepower,peak,City,Higway
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.970000,98.008000,171.745000,65.755000,53.080000,2483.990000,127.070000,9.699100,101.890000,5214.000000,25.640000,31.150000
std,1.086696,6.343957,13.826211,2.510518,2.344002,604.998698,51.873049,3.423336,38.675259,464.827545,7.500195,7.873206
min,-1.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,48.000000,4200.000000,13.000000,16.000000
25%,0.000000,94.450000,161.575000,63.875000,50.800000,1984.500000,92.000000,8.500000,69.000000,5000.000000,19.000000,25.000000
50%,1.000000,96.300000,172.400000,65.200000,53.400000,2380.000000,110.000000,9.000000,88.000000,5200.000000,25.000000,31.000000
75%,1.250000,100.150000,177.800000,66.500000,54.500000,2814.000000,136.000000,9.400000,121.000000,5500.000000,31.000000,37.000000
max,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,22.700000,262.000000,6000.000000,49.000000,54.000000

In [27]:
dfSetAutos2.describe()

,symboling,base,length,width,heingt,curb,engine-size,bore,stroke,compression,City,Higway
count,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,0.855670,98.823711,175.208247,65.872165,54.194845,2587.175258,125.432990,3.388969,3.169381,10.570206,25.185567,30.814433
std,1.314896,5.332170,10.064062,1.655719,2.416755,412.305914,29.560992,0.264412,0.352691,4.373831,5.470241,5.784912
min,-2.000000,89.500000,156.900000,63.400000,49.700000,1918.000000,90.000000,2.540000,2.070000,7.000000,17.000000,22.000000
25%,0.000000,95.700000,168.900000,64.400000,52.500000,2261.000000,98.000000,3.190000,3.030000,9.000000,20.000000,25.000000
50%,0.000000,97.300000,173.500000,65.600000,54.500000,2535.000000,120.000000,3.430000,3.230000,9.000000,25.000000,30.000000
75%,2.000000,100.400000,183.500000,66.600000,56.000000,2975.000000,146.000000,3.620000,3.400000,9.400000,28.000000,34.000000
max,3.000000,114.200000,198.900000,72.300000,59.800000,3485.000000,203.000000,3.940000,3.900000,23.000000,38.000000,47.000000

<h3 style = "color:#00CED1"> 1.4 Union de Archivos de Datos </h3>

In [30]:
unionarchivos = [dfSetAutos1, dfSetAutos2] #crea una lista de listas
dfsetAutos = pd.concat(unionarchivos)
dfsetAutos.shape

(197, 26)

In [32]:
#Atributo: Rango de atributos
#1. símbolo: -3, -2, -1, 0, 1, 2, 3.
#2. 2. pérdidas normalizadas: continuas de 65 a 256.
#3. marcaalfa-romero, audi, bmw, chevrolet, dodge, honda,isuzu, jaguar, mazda, mercedes-benz, mercury,
#mitsubishi, nissan, peugot, plymouth, porsche,renault, saab, subaru, toyota, volkswagen, volvo
#4. tipo de combustible: diesel, gas.
#5. aspiración: std, turbo.
#6. número de puertas: cuatro, dos.
#7. estilo de la carrocería: techo duro, vagón, sedán, hatchback, convertible.
#8. ruedas motrices: 4wd, fwd, rwd.
#9. ubicación del motor: delantero, trasero.
#10. distancia entre ejes: continua de 86.6 120.9.
#11. longitud: continua de 141.1 a 208.1.
#12. ancho: continuo de 60.3 a 72.3.
#13. altura: continua de 47.8 a 59.8.
#14. peso en vacío: continuo de 1488 a 4066.
#15. tipo de motor: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
#16. número de cilindros: ocho, cinco, cuatro, seis, tres, doce, dos.
#17. tamaño del motor: continuo de 61 a 326.
#18. sistema de combustible: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
#19. diámetro: continuo de 2.54 a 3.94.
#20. carrera: continua de 2.07 a 4.17.
#21. relación de compresión: continua de 7 a 23.
#22. caballos de fuerza: continuo de 48 a 288.
#23. pico-rpm: continuo de 4150 a 6600.
#24. ciudad-mpg: continuo de 13 a 49.
#25. autopista-mpg: continuo de 16 a 54.
#26. precio: continuo de 5118 a 45400#

<h2 style = "color :#00CED1">2. Manejo de Valores Faltantes o Perdidos </h2>
<p> Que se hace en este apartado? </p>
<ol>
    <li>Identificar como se muestran los valores faltantes y estandarizarlos al NAN</li>
    <li>Contar l acantidad de valores NAN faltantes por variable</li>
    <li>Analisis de imputacion de valores numericos con la media</li>
    <li>Analisis de la imputacion de valores string con el dato mas frecuente</li>
    <li>Eliminar filas de valores faltantes</li>
</ol>

<h3 style= "color: #2F4F4F">2.1 Identificacion de Valores faltantes o perdidos y estandarizacion</h3>

In [34]:
dfsetAutos

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.0,68,4500,33,38,13845
93,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.0,88,5500,25,31,12290
94,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
95,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
96,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [36]:
dfsetAutos.replace("?", np.nan , inplace = True)

In [37]:
dfsetAutos

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.0,68,4500,33,38,13845
93,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.0,88,5500,25,31,12290
94,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
95,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
96,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985


<h3 style= "color: #2F4F4F">2.2 Contar los valores NaN en el set de datos</h3>

In [38]:
valoresPerdidos = dfsetAutos.isnull()
valoresPerdidos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [39]:
for column in valoresPerdidos.columns.values.tolist():
    print (column)
    print(valoresPerdidos[column].value_counts())
    print ("")

symboling
False    197
Name: symboling, dtype: int64

normalized
False    156
True      41
Name: normalized, dtype: int64

make
False    197
Name: make, dtype: int64

fuel
False    197
Name: fuel, dtype: int64

aspiration
False    197
Name: aspiration, dtype: int64

doors
False    195
True       2
Name: doors, dtype: int64

style
False    197
Name: style, dtype: int64

wheels
False    197
Name: wheels, dtype: int64

engine
False    197
Name: engine, dtype: int64

base
False    197
Name: base, dtype: int64

length
False    197
Name: length, dtype: int64

width
False    197
Name: width, dtype: int64

heingt
False    197
Name: heingt, dtype: int64

curb
False    197
Name: curb, dtype: int64

engineType
False    197
Name: engineType, dtype: int64

Cylinders
False    197
Name: Cylinders, dtype: int64

engine-size
False    197
Name: engine-size, dtype: int64

system
False    197
Name: system, dtype: int64

bore
False    193
True       4
Name: bore, dtype: int64

stroke
False    193
True       4
Name: stroke, dtype: int64

compression
False    197
Name: compression, dtype: int64

horsepower
False    195
True       2
Name: horsepower, dtype: int64

peak
False    195
True       2
Name: peak, dtype: int64

City
False    197
Name: City, dtype: int64

Higway
False    197
Name: Higway, dtype: int64

price
False    193
True       4
Name: price, dtype: int64

<h3 style= "color: #2F4F4F">2.3 Imputar valores numericos con la media</h3>

In [41]:
avg_norm = dfsetAutos["normalized"].astype("float").mean(axis=0)
print("media del normalized:", avg_norm)

media del normalized: 123.6025641025641

In [42]:
dfsetAutos["normalized"].replace(np.nan, 124 , inplace = True )
dfsetAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,124,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h3 style= "color: #2F4F4F">2.4 Imputar valores STRING</h3>

In [47]:
dfsetAutos["doors"].value_counts().idxmax()

'four'

In [48]:
dfsetAutos["normalized"].replace(np.nan, "four" , inplace = True )
dfsetAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,124,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h3 style= "color: #2F4F4F">2.5 Eiminar filas con valores o registros perdidos</h3>

In [51]:
dfsetAutos.dropna(subset = ["price"] , axis = 0 , inplace = True )
dfsetAutos.reset_index(drop = True , inplace = True )

In [52]:
dfsetAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,124,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,124,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [53]:
valoresPerdidos = dfsetAutos.isnull()
valoresPerdidos.head(5)
for column in valoresPerdidos.columns.values.tolist():
    print (column)
    print(valoresPerdidos[column].value_counts())
    print ("")

symboling
False    193
Name: symboling, dtype: int64

normalized
False    193
Name: normalized, dtype: int64

make
False    193
Name: make, dtype: int64

fuel
False    193
Name: fuel, dtype: int64

aspiration
False    193
Name: aspiration, dtype: int64

doors
False    191
True       2
Name: doors, dtype: int64

style
False    193
Name: style, dtype: int64

wheels
False    193
Name: wheels, dtype: int64

engine
False    193
Name: engine, dtype: int64

base
False    193
Name: base, dtype: int64

length
False    193
Name: length, dtype: int64

width
False    193
Name: width, dtype: int64

heingt
False    193
Name: heingt, dtype: int64

curb
False    193
Name: curb, dtype: int64

engineType
False    193
Name: engineType, dtype: int64

Cylinders
False    193
Name: Cylinders, dtype: int64

engine-size
False    193
Name: engine-size, dtype: int64

system
False    193
Name: system, dtype: int64

bore
False    189
True       4
Name: bore, dtype: int64

stroke
False    189
True       4
Name: stroke, dtype: int64

compression
False    193
Name: compression, dtype: int64

horsepower
False    191
True       2
Name: horsepower, dtype: int64

peak
False    191
True       2
Name: peak, dtype: int64

City
False    193
Name: City, dtype: int64

Higway
False    193
Name: Higway, dtype: int64

price
False    193
Name: price, dtype: int64